.container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	text-align: center;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.5;
}

a {
	color: #0077CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
body {
  background: url("https://media.discordapp.net/attachments/1083305590127853641/1083693254060552232/f2fbf31c-b589-4c34-95ab-e9e9ec197408.jpg?width=468&height=468") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
