body h1{
    font-size: 150%;
}
body p{
    font-size: 130%;
}
div{
    position: CENTER;
    background-color: aqua;
    margin-left: 40%;
    margin-right: 40%;
    font-style: oblique;
    
}
html{
    background-color: rgb(206, 253, 253);
}
div{
    outline-color: aqua;
}